<div class="w-100 m-auto text-center p-4 bg-black text-white">
    <nav class="flex items-center justify-between">
        <div class="flex items-center">
            <h1 class="ml-2 text-lg font-semibold">Airbnb</h1>
        </div>
        <ul class="flex items-center space-x-4">
            <li><a href="#" class="hover:text-slate-100">Home</a></li>
            <li><a href="#" class="hover:text-slate-100">About</a></li>
            <li><a href="#" class="hover:text-slate-100">Services</a></li>
            <li><a href="#" class="hover:text-slate-100">Contact</a></li>
        </ul>
    </nav>
</div>