{% extends 'layouts/base.html' %} {% block title %}Home{% endblock %} {% block tags %}
{% endblock %} 
{% block content %} 
<div class="w-full flex flex-col justify-center items-center">
    <div class="login-card rounded-xl shadow-xl p-10 my-32 w-80">
        <h2 class="text-2xl font-bold text-center">Accedi</h2>
        {% if messages %}
            {% for message in messages %}
                <div class="error__message">{{ message }}</div>
            {% endfor %}
        {% endif %}
        <form action="" method="POST" class="login__form flex flex-col gap-4 mt-4 w-full"> 
            {% csrf_token %}
            {{ form }}
            <button type="submit" class="text-white rounded-md p-2 items-center flex justify-center gap-3" style="background-color: #ff315d;">Accedi</button>
            <a href="/signup" class="text-white rounded-md p-2 items-center flex justify-center gap-3" style="background-color: #292929;">Registrati</a>
        </form>
    </div>
</div>

{% endblock %}
{% block scripts %}
{% endblock %}